backpack==0.1
blinker==1.4
certifi==2017.7.27.1
cleo==0.6.1
Faker==0.7.18
future==0.16.0
inflection==0.3.1
lazy-object-proxy==1.3.1
orator==0.9.7
pastel==0.1.0
pendulum==1.2.5
pyaml==16.12.2
Pygments==2.2.0
pylev==1.3.0
python-dateutil==2.6.1
python-telegram-bot==8.0
pytz==2017.2
pytzdata==2017.2.2
PyYAML==3.12
simplejson==3.11.1
six==1.10.0
tzlocal==1.4
wrapt==1.10.11
